asn1crypto==0.24.0
beautifulsoup4==4.7.1
boto==2.49.0
boto3==1.9.101
botocore==1.12.101
bs4==0.0.1
bz2file==0.98
cachetools==3.1.0
certifi==2018.11.29
cffi==1.12.1
chardet==3.0.4
Click==7.0
cryptography==2.5
cymem==2.0.2
cytoolz==0.9.0.1
dialogflow==0.4.0
dill==0.2.9
docutils==0.14
en-core-web-sm==2.0.0
Flask==1.0.2
Flask-WTF==0.14.2
gensim==3.7.1
google-api-core==1.7.0
google-auth==1.6.3
googleapis-common-protos==1.5.8
googletrans==2.4.0
grpcio==1.18.0
idna==2.6
itsdangerous==1.1.0
Jinja2==2.10
jmespath==0.9.4
langdetect==1.0.7
MarkupSafe==1.1.0
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.2
ndg-httpsclient==0.5.1
nltk==3.4
numpy==1.16.1
pkg-resources==0.0.0
plac==0.9.6
preshed==2.0.1
protobuf==3.6.1
pusher==2.0.1
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycld2==0.31
pycparser==2.19
pymongo==3.7.2
pyOpenSSL==19.0.0
python-dateutil==2.8.0
python-dotenv==0.8.2
pytz==2018.9
rake-nltk==1.0.4
regex==2018.1.10
requests==2.18.4
rsa==4.7
s3transfer==0.2.0
scikit-learn==0.20.2
scipy==1.2.1
selenium==3.141.0
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
smart-open==1.8.0
soupsieve==1.8
spacy==2.0.18
spacy-cld==0.1.0
summa==1.2.0
thinc==6.12.1
toolz==0.9.0
tqdm==4.31.1
ujson==1.35
urllib3==1.22
Werkzeug==0.14.1
wikipedia==1.4.0
wrapt==1.10.11
WTForms==2.2.1
